body {
  background-color: #95a5a6;
}


.outerContent {
  position: fixed;
  top: 15%;
  left: 30%;
  padding: 10px;
  border: 2 solid red;
  border-radius: 8px;
  background: rgb(161, 94, 11);
  height: 600px;
  width: 800px;
}

.innercontent {
  padding: 5%;
  margin: 10%;
  background: rgb(211, 122, 14);
  height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px;
}

button {
  background-color: #008CBA;
  /* Green */
  border: none;
  color: rgb(48, 4, 4);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
}

#displayWin {
  color: green;
  font-size: 35px;
  font-weight: bold;
}

#displayLose {
  display: none;
  color: rgb(255, 81, 0);
  font-size: 35px;
  font-weight: bold;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
}

input {
  padding: 10px 15px;
  border-radius: 0.2rem;
  background-color: rgba(132, 166, 179, 0.681);
  color: white;
  font-size: 25px;
}